sys
sqlite3
PyQt5
PyQt5.uic
PyQt5.QtWidgets.QMainWindow
PyQt5.QtWidgets.QApplication
PyQt5.QtWidgets.QPushButton
PyQt5.QtWidgets.QTableWidgetItem
PyQt5.QtWidgets.QTableWidget
PyQt5.QtWidgets.QHBoxLayout